#portfolio-graph-outer {
  margin-bottom: 10px;
  position: relative;
  right: 150px;
}

#portfolio-graph-values { 
  font: 15px 'proxima-nova', sans-serif;
}

.canvasjs-chart-credit {
  display: none;
}



// #portfolio-graph-values::after {
//   content: "";
//   background-color: white;
//   color: white;
//   fill: white;
//   width: 100px;
//   height: 10px;
//   position: absolute;
//   top: 307px;
//   z-index: 3;
// }