#product-orders {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70vw;
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color: #888888;
}

#product-orders-size {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#product-orders-size > p {
  font-weight: bold;
}

#product-orders-size > span {
  font-size: 30px;
  color: black;
  padding-top: 5px;
}

#this-will-be-a-gray-line {
  height: 100px;
  width: 1px;
  background-color: #c3c3c3;
  margin-left: 50px;
  margin-right: 25px;
}

#product-orders-last-sale {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 25%;
  justify-content: center;
  align-items: center;
}

#p-last-sale-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.last-sale-bold {
  font-weight: bold;
}

#last-sale-num {
  color: black;
  font-size: 28px;
}

#last-sale-change {
  font-size: 16px;
}

#p-last-sale-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
}

#p-last-sale-bottom > p {
  color: black;
  padding: 10px;
}

.smaller-gray-line {
  height: 14px;
  width: 1px;
  background-color: #c3c3c3;
}

#prod-asks {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prod-asks > button {
  display: flex;
  flex-direction: row;
  background-color: #509e2f;
  width: 220px;
  height: 80px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#prod-asks > button:hover {
  background-color: green;
  cursor: pointer;
}

#asks-bottom {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

#asks-bottom > p {
  color: #333;
  font-size: 12px;
}

#asks-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

#asks-left > p {
  color: #c6e6c2;
  font-size: 18px;
}

#asks-left > #p-ask-price {
  color: white;
  font-size: 30px;
}

#asks-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-left: 1px solid green;
  height: 70%;
}

#asks-right-big {
  color: white;
  font-size: 30px;
}

#asks-right-small {
  color: #c6e6c2;
  font-size: 18px;
}




#prod-bids {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prod-bids > button {
  display: flex;
  flex-direction: row;
  background-color: #ff5a5f;
  width: 220px;
  height: 80px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#prod-bids > button:hover {
  cursor: pointer;
  background-color: #cc4c4c;
}

#bids-bottom {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

#bids-bottom > p {
  color: #333;
  font-size: 12px;
}

#bids-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}


#bids-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-left: 1px solid #cc4c4c;
  height: 70%;
}

.bids-right-big {
  color: white;
  font-size: 30px;
}

.bids-right-small {
  color: #ffcfcf;
  font-size: 18px;
}