// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vw;
}
#app-div {
  display: flex;
  width: 100vh;
  height: 100vw;
  flex-direction: column;
}

#main-div {
  position: relative;
  display: flex;
  margin-top: min(20%, 90px);
  min-height: 80vh;
  height: 100%;
  width: 100vw;
}

a:link {
  text-decoration: none;
}